@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: #f7bebe;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d4f9ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d4f9ff;
  z-index: 1000;
  transition: top 0.3s;
}

.hidden {
  top: -100px; /* Menyembunyikan navbar di luar layar */
}

.navbar a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.navbar nav a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  color: black;
}

.navbar nav a:hover {
  color: #05a3ff;
  font-weight: bold;
}

nav {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* Home CSS */
.content-home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 120px;
  padding: 20px;
  margin: 170px 0;
  padding-bottom: 200px;
}

.teks-home {
  max-width: 600px;
}

.teks-home p:first-of-type {
  font-size: 38px;
  font-weight: bold;
}

.teks-home p {
  font-size: 12px;
}

.content-img img {
  max-width: 600px;
  height: auto;
  border-top-left-radius: 120px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 10px;
}

.content-img img:hover {
  opacity: 90%;
  cursor: pointer;
}
/* Content Product */
.content-product {
}
.product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 250px;
}

#product {
  margin: 80px;
}

.card-product {
  width: 300px;
  margin: 40px;
  border: 8px solid white;
  border-radius: 20px;
  padding: 20px;
  background-color: #ccecff;
  color: #7c7c7c;
}

.card-product h1 {
  cursor: pointer;
  color: #000;
}

.card-product p {
  font-size: 16px;
}

.card-product h1:hover {
  color: #ffee02;
}

.card-product:hover {
  border: 8px solid #9ef01a;
}

.card-product img {
  width: 280px;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

.card-product img:hover {
  transform: translateX(180px);
  transition: all 1s;
  cursor: pointer;
  transform: scale(1.3);
  border: none;
}

/* Content Testimoni */
.star {
  display: flex;
  color: #ffee02;
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
}

.card-testimoni {
  background-color: #fff;
  width: 400px;
  padding: 30px;
  margin: 80px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.card-testimoni:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.testimoni {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px;
}

/* Content About */
.content-about {
  padding-top: 100px;
}

.about {
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.teks-about {
  width: 600px;
  margin: 40px 0;
  text-align: justify;
}

.map iframe {
  width: 600px;
  height: 450px;
  border-radius: 20px;
}

/* Footer */
.content-footer {
  background-color: #000;
  color: #fff;
  padding: 240px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 270px;
}

.content-footer .cr {
  margin-top: 70px;
  color: grey;
}

.sosmed {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-sosmed {
  display: flex;
  gap: 60px;
  margin: 20px 0;
}

.link-sosmed a {
  color: white;
}

@media (max-width: 600px) {
  .content-img img {
    width: 400px;
    border-top-left-radius: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 10px;
  }

  .teks-home {
    max-width: 400px;
    order: 2;
  }

  .map iframe {
    width: 300px;
    height: 400px;
  }

  .teks-about {
    width: 300px;
  }
}
